.navbar {
    background: #000;
    opacity: 0.9;
    text-transform: uppercase;
}

.navbar .nav-item {
    padding-right: 20px;
}

.navbar .nav-item:last-child {
    padding-right: 0px;
}

.carousel-item {
    height: 470px;
}

.carousel-img-1 {
    background: url('img/image1.jpeg')
}

.carousel-img-2 {
    background: url('img/image2.jpeg');
}

.carousel-img-3 {
    background: url('img/image2.jpeg');
}

.icons .fa {
    font-size: 50px;
}

.getstarted {
    position: relative;
    background: url('img/pc.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 350px;
}

.getstarted .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    widows: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.video {
    position: relative;
    background: url('img/people.jpeg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 300px;
    background-repeat: no-repeat;
}

.video .dark-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}

.video .fa {
    font-size: 50px;
}

.gallery img {
    min-height: 250px;
}

.footer {
    background: #000;
}

.about {
    background: url('img/image6.jpeg');
    background-attachment: fixed;
    min-height: 300px;
    background-repeat: no-repeat;

}

.icon-box .fa {
    font-size: 50px;
    margin-bottom: 15px;
}

.about-info img {
    height: 300px;
    width: 300px;
}

.services {
    background: url('img/image6.jpeg');
    color: #fff;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#accordion p,
h5 {
    color: #333;
    margin-bottom: 0px;
}

.blog {
    background: url('img/image1.jpeg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
}

.blog-post img {
    height: 250px;
}

#page-header {
    background: url('img/image2.jpeg')
}
